.clients__title {
  font-weight: 700;
  font-size: $fontsize-title;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.clients-icon {
  display: flex;
  gap: 30px;

  &__logo {
    fill: currentColor;
  }

  &__link {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: getColor ("icon-color");
    border: 1px solid currentColor;
    border-radius: 4px;
    transition: $trans-color;
  }

  &__link:hover,
  &__link:focus {
    color: getColor ("accent-color");
  }
}
