.header {
  border-bottom: 1px solid var(--line-color);
}
.header__wrapper {
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
}
.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: getColor("main-text-color");
  margin-right: 93px;
  padding-bottom: 25px;
  padding-top: 24px;
}
.header__logo--accent {
  color: getColor(accent-color);
}
.header__link:hover,
.header__link:focus {
  color: getColor(accent-color);
}
.header__list {
  display: flex;
}
.header__link {
  font-weight: 500;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  transition: $trans-color;
}
.header__item {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header__item:not(:last-child) {
  margin-right: 46px;
}
.header__link--current {
  color: getColor(accent-color);
  position: relative;
}
.header__link--current::after {
  content: "";
  width: 53px;
  height: 4px;
  position: absolute;
  bottom: 0;
  background: getColor(accent-color);
  left: 0;
}
.header__link--current:hover::after {
  width: 100%;
}
.contact {
  display: flex;
  margin-left: auto;
}
.contact__item:not(:last-child) {
  margin-right: 50px;
}
.contact__item {
  font-weight: 500;

  line-height: 16px;
  letter-spacing: 0.02em;
  color: getColor("other-text-color");
  padding-top: 32px;
  padding-bottom: 32px;
  transition: $trans-color, $trans-fill;
}
.contact__item:focus,
.contact__item:hover {
  color: getColor(accent-color);
  fill: getColor(accent-color);
}
.envelope-icons {
  margin-right: 10px;
  vertical-align: middle;
  fill: currentColor;
}
.phone-icons {
  margin-right: 10px;
  vertical-align: middle;
  fill: currentColor;
}
