.strength {
  padding-bottom: 0;
}
.strengths-list__icons {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: getColor("background-strengths-color");
  margin-bottom: 30px;
}
.strengths-list {
  display: flex;
  gap: 30px;
}
.strengths-list__item {
  width: 270px;
}
.strengths-list__title {
  font-weight: 700px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.strengths-list__text {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: getColor("other-text-color");
  width: 270px;
}
.strengths-list__text:not(:last-child) {
  margin-right: 30px;
}
