.team {
  background-color: getColor("background-team-color");
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
.team-list__item {
  background: getColor("background-color");
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__title {
  font-weight: 700;
  font-size: $fontsize-title;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-info__name {
  font-weight: 500;
  font-size: $fontsize-bigger;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-info__job {
  font-weight: 400;
  font-size: $fontsize-bigger;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: getColor("other-text-color");
  margin-left: auto;
  margin-bottom: 16px;
}
.team-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team-icons__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: getColor("icon-color");
  border-radius: 50%;
  transition: $trans-color, $trans-backgroundcolor;
}
.socialmedia {
  fill: currentColor;
}
.team-icons__link:hover,
.team-icons__link:focus {
  color: getColor("secondary-text-color");
  background-color: getColor("accent-color");
}
