body {
  font-family: roboto, sans-serif;
  color: $main-text-color;
  background-color: $background-color;
  font-size: $fontsize-normal;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
svg {
  fill: currentColor;
}
